In [1]:
#Question 1
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [14]:
#Q 2:
import pandas as pd
FoodDataSet=pd.read_csv('https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding="latin-1")
df=FoodDataSet.groupby('Area')['Y2017'].sum().filter({'Nigeria','South Africa','Egypt','Kenya','Ethiopia'})
print(df)

Egypt            866379.92
Nigeria         1483268.23
Ethiopia         448683.76
South Africa     517590.54
Kenya            264660.66
Name: Y2017, dtype: float64

In [85]:
#Q 3:
df_filtered = FoodDataSet[['Y2017', 'Area']]
area_sums = df_filtered.groupby('Area')['Y2017'].sum()
sorted_areas = area_sums.sort_values(ascending=True)
seventh_lowest_area = sorted_areas.index[6]  # Adjust index position if needed
print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [17]:
#Q 4:
import numpy as np
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [28]:
#Q 8
FoodDataSet.groupby('Element')['Y2017'].sum().filter({'Processing'})

Processing    292836.0
Name: Y2017, dtype: float64

In [93]:
#Q9:
df_filtered = FoodDataSet[FoodDataSet['Element'] == 'Stock Variation']
df_filtered.groupby('Element')[['Y2014','Y2015','Y2016','Y2017', 'Y2018']].sum()

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

In [43]:
#Q 10
y = [(2, 4), (7, 8), (1, 5, 9)]
x=y[1][1]
print(x)

8

In [108]:
#Q11
#2016 has the least corelation

df_filtered = FoodDataSet[['Y2014','Y2015','Y2016','Y2017','Y2018','Element Code']]

print(f"Corelation: {df_filtered['Element Code'].corr(df_filtered['Y2014']),df_filtered['Element Code'].corr(df_filtered['Y2015']),df_filtered['Element Code'].corr(df_filtered['Y2016']),df_filtered['Element Code'].corr(df_filtered['Y2017']),df_filtered['Element Code'].corr(df_filtered['Y2018'])}")

Corelation: (0.024456819495221795, 0.02388919930163992, 0.023443997584961428, 0.02425400776004572, 0.02427857195351955)

In [113]:
#Q12
#Looking at the total number I could answer the question because the sum for Year 2014 only matches one of the options.
FoodDataSet.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [126]:
#Q13:
df_2017 = FoodDataSet['Y2017'] 
# Calculate mean and standard deviation
mean=df_2017.mean()
print( f"Mean: {mean} Std Deviation: { df_2017.std()}")

Mean: 140.9177648602722 Std Deviation: 1671.8623590572788

In [127]:
#Q 15: Wine Produced
FoodDataSet.groupby('Item')[['Y2015','Y2018']].sum()
df_filtered = FoodDataSet[FoodDataSet['Item'] == 'Wine']
df_filtered.groupby('Item')[['Y2015', 'Y2018']].sum()

        Y2015    Y2018
Item
Wine  4251.81  4039.32

In [55]:
#Q 16
FoodDataSet.shape

(60943, 12)

In [136]:
#Q 17
FoodDataSet.head()
#FoodDataSet.filter({'Madagascar'}).groupby(['Area','Element'])['Y2015'].sum()
FoodDataSet.groupby('Element')[['Y2015','Y2018']].sum()
df_filtered=FoodDataSet[(FoodDataSet['Area'] == 'Madagascar') & (FoodDataSet['Element'] == 'Protein supply quantity') & (FoodDataSet['Y2015'].notna())]
FoodDataSet.groupby('Element')[['Y2015']].sum()

                                             Y2015
Element
Domestic supply quantity                2021493.55
Export Quantity                          157614.47
Fat supply quantity (g/capita/day)        10235.74
Feed                                     225050.22
Food                                    1232361.10
Food supply (kcal/capita/day)            453383.00
Food supply quantity (kg/capita/yr)       49345.13
Import Quantity                          267018.46
Losses                                   155439.00
Other uses (non-food)                     66254.41
Processing                               287929.00
Production                              1947019.39
Protein supply quantity (g/capita/day)    11833.95
Residuals                                 30045.00
Seed                                      23976.82
Stock Variation                           34910.99
Total Population - Both sexes           1058081.00
Tourist consumption                         349.00

In [143]:
#Q19
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

a=array[ : 1, 1 : ]

TypeError: list indices must be integers or slices, not tuple

In [80]:
#Q20
unique_values = len(FoodDataSet['Area'].unique())
print(unique_values)

49